.Weather  {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 600px;
  
}

.Weather h1 {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 100;
  margin:20px 0 15px 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}


.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  
}

.Weather .unit {
  font-size: 16px;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
}

.Weather .float-left {
display: flex;
margin-top: 15px;

}











